# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
appOld.py

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# Environment variables
.env

# Render / local
*.sqlite3
instance/
